<div class="p-4">
  <h1>STOCK LIST</h1>
  <div *ngIf="deletedMessage" class="alert alert-success" role="alert">
    {{deletedMessage}}
  </div>
  <table class="table table-dark">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TAG</th>
      <th scope="col">CATEGORY</th>
      <th scope="col">BROKEN</th>
      <th scope="col">COMMENT</th>
      <th scope="col">DETAILS</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let electrics of electricsList">
      <td>{{electrics.id}}</td>
      <td>{{electrics.tag}}</td>
      <td>{{electrics.category}}</td>
      <td>{{electrics.broken}}</td>
      <td>{{electrics.comment}}</td>
      <td>{{electrics.details}}</td>
      <td>
        <button (click)="editElectrics(electrics)" class="btn-success">EDIT</button>
      </td>
      <td>
        <button (click)="deleteElectrics(electrics)" class="btn-danger">DELETE</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
